body {
  overflow-x: hidden;
}
.background__img {
  position: relative;
  width: 100vw;
  top: 0%;
  margin: 0%;
  z-index: -2;
}

.welcome__div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0px 30px;
  top: 20%;
  background-color: rgba(229, 229, 229, 0.7);
}
.welcome__text {
  align-self: baseline;
  margin: 30px 10px;
  color: #5e5e5e;
  font-size: 3vw;
  font-weight: bold;
}
.nav-link {
  color: #707070;
  font-weight: bold;
  margin: 10px 5px;
  font-size: 25px;
}
@media screen and (max-width: 1200px) {
  .nav-link {
    margin: 10px 0px;
    font-size: 20px;
  }

  .carousel {
    margin-top: 15vh;
  }

  .welcome__div {
    top: 16%;
  }

  .welcome__text {
    margin: 15px 10px;
  }
}
.navbar {
  background: rgba(255, 255, 255, 0.8);
}
