* {
  margin: 0;
  padding: 0;
}
img {
  width: 240px;
  height: 240px;
  padding: 20px;
}
.gallery__container {
  display: flex;
  flex-direction: column;
}
.gallery__container > .gallery__heading {
  display: flex;
  justify-content: center;
}
.gallery__container > .gallery__gsacads {
  justify-content: center;
  display: flex;
}
.gallery__container > .gallery__gsacads > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
/*brs*/
.gallery__container > .gallery__br {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.gallery__container > .gallery__br > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
/* buttons*/
.gallery__container > .gallery__crselect {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
}
.gallery__container > .gallery__crselect > button {
  margin: 5px 20px;
  color: black;
  width: 200px;
  background-color: white;
  border-color: grey;
  padding: 7px;
  transition: all 0.4s ease !important;
  -webkit-transition: all 0.4s ease !important;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 14px;
}
.gallery__container > .gallery__crselect > #gallery__btn2017 {
  color: white;
  background-color: black;
}

/* crs */
.gallery__container > .gallery__crs {
  justify-content: space-around;
  display: flex;
  transition: all 0.4s ease !important;
  -webkit-transition: all 0.4s ease !important;
  flex-wrap: wrap;
}
.gallery__container > .gallery__crs > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  transition: all 0.4s ease !important;
  -webkit-transition: all 0.4s ease !important;
}
.gallery__container > .gallery__crs > .gallery__crs__mnc {
  display: none ;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* media queries */
@media screen and (max-width: 750px) {
  img {
    width: 260px;
    height: 240px;
    padding: 15px;
  }
  .gallery__container > .gallery__crselect {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
